body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #777;
    font-weight: 400;
    line-height: 1.8em;
}

.pimg1{
    background-image: url(asset1.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pimg2{
    background-image: url(asset2.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pimg3{
    background-image: url(asset3.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext3{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.section{
    padding: 50px 80px;
    text-align: center;
    font-weight: 10;

}
.section-light{
    background-color: #000000fd;
    color: #ffffff;
    font-size: 20px;
}

.section-dark{
    background-color: #000000fd;
    color: #fff;
    font-size: 20px;
}